* {
  box-sizing: border-box;
}
:root {
  --red: #db2222;
  --gray: #666666;
}
body {
  font-family: sans-serif;
  margin: 25px;
  color: #f5f5f5;
  background-color: #222;
}

h1 {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  border: solid var(--red);
  height: 1234567890%;
  margin: 0.78em;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid var(--red);
  border-radius: 3px;
  font-size: 16px;
  background-color: var(--gray);
  color: white;
}

input[type="submit"] {
  font-size: 16px;
  border-radius: 3px;
  background-color: var(--red);
  border: 1px solid var(--red);
  box-shadow: 2px 2px #a80000aa;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--gray);
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: var(--gray);
  padding: 5px;
  border-radius: 0.5em;
}

.container {
  margin: auto;
  padding: 0;
  text-align: center;
}

#footer {
  border: solid var(--red);
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
}
.highlight {
  color: var(--red);
}
.forms {
  /* border: solid; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1em;
}